body {
  margin: 0;
  padding: 0;
}

.imgBackground {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.4;
}

.headerMainText {
  color: whitesmoke;
  background-color: #333333;
  text-align: center;
  height: 70px;
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList {
  background-color: #ffffff;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.todoItem {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  color: #333333;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}
