body {
  padding: 0;
  margin: 0;
}

header {
  padding: 20px;
}

button {
  padding: 10px;
  margin: 10px;
  border: none;
}

.light-Theme {
  background-color: whitesmoke;
  color: #303030;
}

.dark-Theme {
  background-color: #303030;
  color: whitesmoke;
}
