/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
}

.headerMainText {
  /* background-image: radial-gradient(#b11313, #447bbe); */
  background-image: radial-gradient(#df1f2d, #2b3784);
  height: 100px;
  color: whitesmoke;
  font-size: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navUl {
  padding-left: 0;
}

.navLi {
  display: inline;
  padding-right: 20px;
}

.footerText {
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
